body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

svg, ul {
  float: left;
}

svg text.name {
  font-size: 12px;
}

svg line.quadrant {
  stroke-width: 2px;
}

svg circle.horizon {
  stroke: #999;
  stroke-width: 2px;
  stroke-opacity: 0;
  fill: none;
}

svg line.direction {
  stroke: black;
  stroke-width: 5px;
  marker-end: url(#arrow);
  opacity: 0.2;
}

svg #arrow {
  fill: black;
}

svg path.quadrant {
  fill-opacity: 0.5;
}

svg text.quadrant {
  font-weight: bold;
  color: white;
  opacity: 0.3;
  font-size: 40px;
  text-align: right;
}
